

.btn-custom {
    background-color: #ff5733;
    border-color: #ff5733; 
}
.contenido {
    display: grid;
    grid-template-columns: 20% 1fr 20%; 
    grid-gap: 20px; 
    align-items: center; 
    margin-left: 15%; 
}

.contenido img {
    max-width: 100%; 
    height: auto;
}
.contenido p{
    font-size: 22px;
}
.footer-me{
    text-align: center;
}
.test h2{
    text-align: center;
}
.test {
    margin-left: 20px; 
    margin-right: 20px; 
}